.heroName{
    color: rgb(40, 13, 58);
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
}

.heroMessageText{
    color: white;
    font-size:18px;
}

.herotext{
    background-color: blueviolet;
    width: 65%;
    border-radius: 10px;
    padding: 20px;
}

.section{
    height: 400px;
    padding-top: 10px;
    overflow-y: scroll;
    scrollbar-width:thin;
    scrollbar-color:  blueviolet black;
    border-radius: 10px;
    padding: 20px 0;
}
.section {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.section::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.heroImage{
    width: 70px;
    height: 70px;
    background-image: url('../../assets/Davinchi.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.heroAnswer{
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.userAsk{
    color: white;
    align-items: sdf;
    background-color: rgb(255, 115, 0);
    width: 35%;
    border-radius: 10px;
    padding: 10px;
    order: 999;
    margin-left: auto;
    margin-top: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    border-radius: 10px;
    padding: 20px;
}

.userName{
    padding-bottom: 5px;
    font-size: 30px;
    color: rgb(40, 13, 58);
    font-weight: 600;
}


.userMessageText{
    display: flex;
    gap: 10px;
    align-items: flex-end;
}


.loader {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
  }
  
  @keyframes flash {
    0% {
      background-color: #FFF2;
      box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
    }
    50% {
      background-color: #FFF;
      box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
    }
    100% {
      background-color: #FFF2;
      box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
    }
  }
        
  .loaderWrap{
      display: flex;
      justify-content: flex-start;
      padding-left: 35px;
  }