.container {
    display: flex;
    flex-direction: column; /* Вертикальное выравнивание инпута и текста */
    align-items: center;
    position: relative;
  }

.inputWrapper {
    position: relative;
    display: inline-block;
}
  
.input {
    width: 405px;
    height: 30px;
    padding: 10px 40px 10px 10px;    
    font-size: 16px;
    background-color: rgb(57, 45, 70);
    border-radius: 10px;  
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
}

.input:hover, .input:focus{
    border-color:orange;
}

.arrowContainer {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}
  
.arrowUp {
    width: 20px; 
    height: 20px;
}
  
.textUnderInput{
    color: white;
}


.arrowButton {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    background-color: orange;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    width: 30px;
    height: 30px;
}
  
.textUnderInput {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 5px;
}
  
.message{
    color: white;
}