.weatherIcon{
    display: block;
    width: 60px;
    height: auto;
}
.weatherList{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.weatherItem{
border: 2px solid black;
padding: 30px;
background-color: gray;
border-radius: 20px;
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
min-width: 150px;
}
.temp{
    font-size: 30px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.city{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
.pressure,.humidity,.date,.time{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
.logo{
width: 154px;
height: auto;
}
.header{
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    width: 300px;
    padding: 15px 30px;
    outline: none;
    font-size: 24px;
    border: 1px solid transparent;
    border-radius: 20px;
}
.input:hover,.input:focus,.btnFind:hover,.btnFind:focus,.btn:hover,.btn:focus{
cursor: pointer;
border: 1px solid grey;
}
.form{
    display: flex;
    gap: 20px;
}
.btnFind{
    padding: 10px 40px;
    border-radius: 20px;
    border: 1px solid transparent;
    font-size: 20px;
}
.currentInfo{
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.btn{
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 4px 10px;
}

.moreInfoWrap{
font-size: 40px;
text-align: center;
margin-bottom: 20px;
margin-top: 40px;
}
